# Beanstalk에 원하는 명령 스크립트를 전달하는 디렉터리
# .config 확장명을 가진 JSON이나 YAML형태의 설정 코드를 두면 그에 맞게 배포시/환경 재구성 시 사용하게 된다.

# 애플리케이션 실행 스크립트
files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java Dfile.encoding=UTF-8 -jar $JAR_PATH
